* {
    font-family: sans-serif;
}
.Login {
    width: 100%;
	background-position: center;
    background-size: cover;
    position: absolute;
	margin : 0;
	background-color : #e6e8ea;
	
}
.message{
	padding-top : 40px;
}
.message p{
	font-weight : bold;
	font-size : 180%;
	color : #212529;
}
.form-wraps {
    width: 380px;
    height: 450px;
    position: relative;
    margin: 4% auto;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
	opacity : 0.8;
}
.button-wraps {
    width: 220px;
	margin : 10px auto;
	top : 10px;
    transition: .5s;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
	border : 1px solid gray;
}
.togglebtns {
    padding: 15px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
	margin-left : 10px;
	font-weight : bold;
}
#btns {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 30px;
	border: 2px solid #494949 !important;
    transition: .5s;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons img {
    width: 30px ;
    cursor: pointer;
}
.input-groups {
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
	height : 330px;
}
.submit {
    width: 100%;
    display: block;
    cursor: pointer;
    color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	border: 4px solid #494949 !important;
	padding: 12px;
	transition: all 0.4s ease 0s;
	position : absolute;
	bottom : 0;
	margin : 0 auto;
	border-radius : 40px;
	font-weight : bold;
}
.submit:hover {
	color: #ffffff !important;
	background: #5f5fff;
	border-color: #5f5fff !important;
	transition: all 0.4s ease 0s;
}
span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#input-group-2{
	text-align : left;
	font-weight : bold;
}